#root {
  flex-direction: column;
}

form {
  padding: 13px 14px;
}

.registerButton {
  margin-top: 15px;
  color: white;
}
.registerButton:hover {
  color: #00c3ff;
}

.registerContainer {
  margin-top: 10px;
  color: white;
}

.titulo {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 15px;
}

.btn {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
}

.btn-primary {
  background-color: rgb(145, 146, 146);
  border: none;
}

.btn-primary:hover {
  background-color: rgb(136, 136, 136);
  border: none;
}

.btn-primary:focus {
  background-color: rgb(136, 136, 136);
}

.btn-primary:active {
  background-color: rgb(136, 136, 136) !important;
  border: none;
}

.inputs {
  border-radius: 10px;
  text-align: center;
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid #dbd5d5;
}

.heroContainer-frame {
  overflow: hidden;
}


/* aplica propriedade cover para recortar parte da imagem ( e nao distorcê-la ), definindo meu ponto de foco a partir da propriedade object-position */
.heroContainer img,
.heroContainer {
  object-fit: cover;
  height: 70vh;
  object-position: center;
}

.inputs:focus {
  border: 1px solid #dbd5d5;
  outline: none;
}

.DataCheck {
  padding: 10px 10px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin-top: 10px;
}


/* Responsividade Media Query */

@media (max-width: 576px) {
    .heroContainer img .heroContainer {
      height: 50vh;
    }
}
