#root {
  flex-direction: column;
}

form {
  padding: 13px 14px;
}

.registerButton {
  margin-top: 15px;
  color: white;
}
.registerButton:hover {
  color: #00c3ff;
}

.registerContainer {
  margin-top: 10px;
  color: white;
}

.titulo {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 15px;
}

.btn {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
}

.btn-primary {
  background-color: rgb(145, 146, 146);
  border: none;
}

.btn-primary:hover {
  background-color: rgb(136, 136, 136);
  border: none;
}

.btn-primary:focus {
  background-color: rgb(136, 136, 136);
}

.btn-primary:active {
  background-color: rgb(136, 136, 136) !important;
  border: none;
}

.inputs {
  border-radius: 10px;
  text-align: center;
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid #dbd5d5;
}

.inputs:focus {
  border: 1px solid #dbd5d5;
  outline: none;
}

.heroContainer-frame {
  width: 100vh !important;
  margin: 0 auto;
  overflow: hidden; /* Impede que a imagem vaze do quadro */
  border-radius: 50px;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Aplica propriedade cover para que a imagem preencha o quadro */
  object-position: center; /* Centraliza o recorte da imagem */
}

@media (max-width: 576px) {
  .heroContainer-frame{
    height: 50vh;
  }
}