body{
    background-image: url('/public/assets/imgs/background.jpg');
    background-position: center;
}
form{
    padding: 13px 14px;

}

.registerButton{
    margin-top: 15px;
    color: white;
    text-decoration: none;
}
.registerButton:hover{
    color: #0400ff;
    text-decoration: none;

}

.registerContainer{
    margin-top: 10px;
    color: white;
}

