body{
    background: linear-gradient(rgb(14, 6, 6), rgb(41, 41, 238));
}
form{
    padding: 13px 14px;
}

.inputs{
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #e42424;
   
}


.inputs:focus {
    border: 1px solid #be199b;
    outline: none;
}
